h1 {
font-family: "duckie", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 60;
color: #DC143C		;
}

h2 {
	font-family: "Helvetica Neue Thin", sans-serif;
font-style: normal;
font-size: 40;
color: #FF69B4;	
}

h3 {
font-family: 'Helvetica Neue Bold', sans-serif;
font-style: normal;
font-size: 40;
color: #FF1493;
}

h4 {
font-family: 'Helvetica Neue Thin', sans-serif;
font-style: normal;
font-size: 30;
color: #FF69B4;	
}
p {
	font-family: "Helvetica Neue Thin", sans-serif;
font-style: normal;
font-size: 40;
color: #FF69B4;	
}